<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.project.kresnahotspot">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <uses-permission-sdk-23 android:name="android.permission.INTERNET" />
    <uses-permission-sdk-23 android:name="android.permission.ACCESS_NETWORK_STATE" />

    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/icon_router"
        android:label="KresnaHotspot"
        android:roundIcon="@drawable/icon_router"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".statusPembelianPointUser"
            android:exported="true" />
        <activity
            android:name=".profileHotspotAdmin"
            android:exported="true" />
        <activity
            android:name=".historyPermintaanPoint_admin"
            android:exported="true" />
        <activity
            android:name=".hotspot_active_admin"
            android:exported="true" />
        <activity
            android:name=".generateHotspotAdmin"
            android:exported="true" />
        <activity
            android:name=".hotspot_user_admin"
            android:exported="true" />
<!--        <activity-->
<!--            android:name=".tambahProfileHotspot_admin"-->
<!--            android:exported="true" />-->
        <activity
            android:name=".tambahVoucher_admin"
            android:exported="true" />
        <activity
            android:name=".TransaksiPembelianPoint"
            android:exported="true" />
        <activity
            android:name=".AdminActivity"
            android:exported="true" />
        <activity
            android:name=".HomeActivity"
            android:exported="true" />
        <activity
            android:name=".RegisterActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".LoginActivity"
            android:exported="true"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>